#field {
    width: 100%;
    height: 700px;
    position: relative;
    background: yellow;
  }
 
.row-field{
      background-color: rgb(95, 82, 65);
      height: 15vh;
      margin-top: 10px;
  }
img{
    height: 18vh;
}
#horse1 {
    height: 20%;
    position: absolute;
  }
 
#horse2 {
    height: 20%;
    position: absolute;
  }
#horse3 {
    height: 20%;
    position: absolute;
  }
#horse4 {
    height: 20%;
    position: absolute;
  }
#horse5 {
    height: 20%;
    position: absolute;
  }