@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Baloo+Bhaina|Love+Ya+Like+A+Sister');
body{
  margin:0;
  padding:0;
  background: url(../img/bg4.jpg) no-repeat;
  background-size: cover;
}

#field {
  width: 100%;
  height: 700px;
  position: relative; 
  }

h3{
  text-align: center;
  background: rgba(241, 213, 122, 0.801);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 250px;
  font-family: 'Baloo Bhaina', cursive;
  font-weight: 700;
  }
.win-list{
  text-align: center;
  color: rgb(8, 6, 6);
  background: rgba(241, 213, 122, 0.513);
  width: 250px;
  padding: 2px;
  font-family: 'Arima Madurai', cursive;
  font-weight: 600;
  }
.horse-name{
  position: absolute;
  margin: 40px 0 0 -100px;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size:1.7em;
  }
  
.demo{
  /* position: absolute; */
  margin: 0px auto 10px auto;
  color:rgb(0, 0, 0);
  height: 50px;
  width: 50px;
  background: rgba(241, 213, 122, 0.513);
  border-radius: 10px;
  padding: 2px 5px;
  /* z-index: 9999; */
  text-align: center;
  }
.row-even{
  background-color: rgba(85, 107, 47, 0.363);
  width: 100%;

  }
.row-odd{
  background: url(../img/fence.png) no-repeat;
  }
 
.row-field{
  height: 13vh;
  }
.head{
  height: 30%;
  }
#start-btn{
  position: absolute;
  text-align: center;
  margin-left: 20px;
  margin-top: 50px;
  padding: 25px;

  }

.fense{
  position: absolute;
  bottom: 0px;
  margin-top: 540px;
  }
#horse1 {
  height: 13vh;
  position: absolute;
  }
 
#horse2 {
  height: 13vh;
  position: absolute;
  }
#horse3 {
  height: 13vh;
  position: absolute;
  }
#horse4 {
  height: 13vh;
  position: absolute;
  }
#horse5 {
  height: 13vh;
  position: absolute;
  }
