 <div class="col-lg-3 col-md-3 col-sm-3 bg-body">
  <app-sidebar></app-sidebar>
</div>

<div class="col-lg-9 col-md-8 col-sm-7 right mr-3 mt-5">
  <h1 class="mt-2 mb-4">Categories</h1>
  <form class="container form-inline mb-5" id="form" name="form">
    <div class="form-group">
      <label for="name">Add new category</label>
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="inName"
        id="name"
        placeholder="Enter name of category"
      />
      <button type="reset" class="btn btn-style" (click)="addCategory()">
        Add
      </button>

    </div>
  </form>
  <form *ngIf="hideForm" class="container form-inline" id="form" autocomplete="off" name="form">
    <div class="form-group">
      <label for="name">Edit category</label>
      <input
        type="text"
        class="form-control"
        name="editName"
        [(ngModel)]="editName"
        id="name"
        placeholder="Enter name of category"
      />

      <button type="reset" class="btn btn-style" (click)="saveCategory()">
          Save
        </button>
    </div>
  </form>
  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="search"
      name="search"
      placeholder="Search by name"
      aria-label="Search"
      [(ngModel)]="searchName"
      (input)="resetSearch()"
    />
    <i
      *ngIf="showSearch"
      class="far fa-times-circle"
      (click)="clearSearch()"
    ></i>
    <button
      class="btn btn-outline-success btn-style my-2 my-sm-0"
      type="submit"
      (click)="search()"
    >
      Search
    </button>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Name</th>
        <th scope="col">Parent Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="">
      <tr *ngFor="let item of categories">
        <!-- <th scope="row">{{ item.id }}</th> -->
        <td>{{ item.name }}</td>
        <td>{{ item.parentCategoryId }}</td>

        <td>
          <button class="inline" id="edit" (click)="editCategory(item.id, item.name)">
            <i class="fas fa-edit"></i>
          </button>
          <button class="inline" id="delete" (click)="removeCategory(item.id)">
            <i class="fas fa-trash-alt"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
