body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: 200px auto 30px;
  grid-template-areas: "head head" "main side" "foot foot"; }
  body aside {
    background-color: blue;
    grid-area: side; }
  body main {
    background-color: green;
    grid-area: main;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-template-areas: "hd hd" "ft ft"; }
  body footer {
    background-color: greenyellow;
    grid-area: foot; }
  body .navbar2 {
    grid-area: nav;
    display: none; }

header {
  grid-area: head;
  background-color: #771414; }

.navbar {
  padding: 1px;
  background-color: grey;
  margin-top: 150px; }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .navbar ul li {
    list-style: none; }
  .navbar a {
    padding: 15px;
    margin: 5px;
    text-decoration: none;
    color: #fbf7ee;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s; }
  .navbar a:hover {
    background-color: #ffffff;
    color: #413a3a;
    border-radius: 3px; }

.nav-btn {
  visibility: hidden;
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  float: right;
  margin: 150px 5px 0px 0px;
  -webkit-transition: background-color .5s;
  -o-transition: background-color .5s;
  transition: background-color .5s; }

.Grid {
  width: 80%;
  margin: 10px auto; }

.top-pic {
  grid-area: hd;
  background-color: yellow;
  padding: 15% 5%; }

.items {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  grid-template-areas: "a b c d";
  width: 100%;
  height: 200px; }

.item {
  background-color: orangered;
  padding: 30px;
  margin: 10px 0px; }

.a {
  grid-area: a; }

.b {
  grid-area: b; }

.c {
  grid-area: c; }

.d {
  grid-area: d; }

@media (max-width: 999px) {
  aside {
    display: none; }
  body {
    grid-template-columns: auto;
    grid-template-rows: 200px auto 30px;
    grid-template-areas: "head head" "main main" "foot foot"; }
  .items {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: "a b" "c d";
    width: 100%;
    height: 400px; }
  .top-pic {
    border: 2px solid yellow;
    height: 70px;
    margin-bottom: 10px; } }

@media (max-width: 399px) {
  aside {
    display: none; }
  .navbar {
    display: none; }
  body {
    grid-template-columns: auto;
    grid-template-rows: 200px 15% auto 30px;
    grid-template-areas: "head head" "nav nav" "main main" "foot foot"; }
    body .navbar2 {
      grid-area: nav;
      display: block; }
    body nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 5px;
      background-color: grey; }
      body nav ul li {
        list-style: none;
        margin: 15px; }
      body nav a {
        padding: 2px 40px;
        margin: 5px;
        text-decoration: none;
        color: #fbf7ee;
        -webkit-transition: background-color .5s;
        -o-transition: background-color .5s;
        transition: background-color .5s; }
      body nav a:hover {
        background-color: #ffffff;
        color: #413a3a;
        border-radius: 3px; }
  .navwrap {
    display: none; }
  .nav-btn {
    visibility: visible;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    float: right;
    margin: 150px 5px 0px 0px;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s; }
  .nav-btn:hover {
    display: block;
    background-color: #413a3a;
    color: #ffffff; }
  .items {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: "a b" "c d";
    width: 100%;
    height: 400px; }
  .top-pic {
    border: 2px solid yellow;
    height: 70px;
    margin-bottom: 10px; } }
