@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary-color:rgb(126, 121, 234);
$background-color:rgb(213, 217, 228);

body{
  margin: 0;
  padding: 0;
  background-color: $background-color;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
