$hd:  rgb(119, 20, 20);
$nv: grey;
$main: green;
$lgbox:yellow;
$smbox: orangered;
$side: blue;
$ft: greenyellow;
$hover-bg: #ffffff;
$hover-color:#413a3a;

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: 150px 40px auto 30px;
    grid-template-areas: "head head"
                         "nav nav"
                         "main side"
                         "foot foot";
}
header{
    background-color: $hd;
    grid-area: head;
}

nav{
    grid-area: nav;
    margin:0px;
    padding: 0px;
    background-color: $nv;
    ul{
        display: flex;
        flex-direction: row;
    }
    ul li{
        list-style: none;
        display: inline-block;
    }
    a {
        padding: 5px;
        margin: 5px;
        text-decoration: none;
        color:rgb(251, 247, 238);
        transition: background-color .5s;
    }
    a:hover{
        background-color: $hover-bg;
        color:$hover-color;
        border-radius: 3px;
    }
}


// MENU ON HOVER
#btn {
	display: block;

	width: 150px;
	height: 150px;
}

#thumbnail:hover + #title {
	display: block;
}

#title {
	// visibility: hidden;

	color: #ffffff;
	background-color: #413a3a;
  text-align: center;

}
// EDN ON HOVER
.nav-btn{
    visibility: hidden;
    height: 50px;
    width: 50px;
    background-color: $hover-bg;
    float: right;
    margin: 83px 5px 0px 0px;
    transition: background-color .5s;
}
body{
    aside{
        background-color: $side;
        grid-area: side;
    }
    main{
        background-color: $main;
        grid-area: main;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px;
        grid-template-areas: "hd hd"
                            "ft ft";
        article{
            
        }
    }
    footer{
        background-color: $ft;
        grid-area: foot;
    }

}

.Flex{
    width: 80%;
    margin: 10px auto;
}
.top-pic{
    
    grid-area: hd;
    background-color: $lgbox;
    padding:15% 5%;
}
.items{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    grid-template-areas: "a b c d";
    width: 100%;
    height: 200px;
}

.item{
    background-color: $smbox;
    padding:30px;
    margin: 10px 0px;
}
.a{
    grid-area: a;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
}
.d{
    grid-area: d;
}


@media (max-width: 999px){
    aside{
        display: none;
    }
    body{
        grid-template-columns: auto;
        grid-template-rows: 150px 40px auto 30px;
        grid-template-areas: "head head"
                             "nav nav"
                             "main main"
                             "foot foot";
    }
    .items{
        display: inline-grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        grid-template-areas: "a b"
                             "c d";
        width: 100%;
        height: 400px;
    }
    .top-pic{
        border: 2px solid yellow;
        height: 70px;
        margin-bottom: 10px;
    }
  }

  @media (max-width: 399px){
    aside{
        display: none;
    }
    nav{
        display: none;
    }
    .nav-btn{
        visibility: visible;
    }
    .nav-btn:hover {
        display: block;
        background-color: $hover-color;
    }
    .hide{
        display:none;
    }
    button:hover + nav{
        display: block;
    }
    body{
        grid-template-columns: auto;
        grid-template-rows: 150px auto 30px;
        grid-template-areas: "head head"
                             "main main"
                             "foot foot";
    }
    .items{
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 150px);
        grid-gap: 5px;
        grid-template-areas: "a"
                             "b"
                             "c"
                             "d";
        height: 100%;
      
    }
    .top-pic{
        border: 2px solid yellow;
        height: 70px;
        margin-bottom: 10px;
    }
  }