<div class="row">
  <div class="col-md-3 left">
    <ul class="nav flex-column nav-tabs sidebar">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="categories"
          routerLinkActive="router-link-active"
          >Categories</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/products']"
          routerLinkActive="router-link-active"
          >Products</a
        >
      </li>
    </ul>
  </div>
</div>

  <div class="col-md-9">
  </div>
