$primary-color:rgb(13, 199, 146);
$secondary-color: rgb(136, 130, 246);
$dark-text: rgb(49, 47, 95);

.left{
  float: left;
}
.sidebar {
  position: fixed;
  width: 230px;
  top: 81px;
  bottom: 0;
  left: 0;
  background-color: lighten($primary-color, 3);;
  color: $dark-text;
  font-weight: 600;
  box-shadow: 3px 1px 23px darken($primary-color, 5);

  .active {
    background-color: lighten($primary-color, 10);
    box-shadow: 8px 5px 13px lighten($dark-text, 14);
    font-size: 1.2em;
    font-weight: 700;
  }

  li{
    padding: 8px;
    margin-top: 10px;
    border-radius: 4px;
  a{
      // padding: 8px 2px;
      text-align: center;
      border: 1px solid  darken($primary-color, 5);
    }

  }


}
