<form class="container" id="inputForm" #f="ngForm" autocomplete="off" name="inputForm" (submit)="onSubmit(f)">
    <div class="form-group">
    <label for="name">Name *</label>
    <input
      type="text"
      class="form-control"
      name="name"
      #name="ngModel"
      id="name"
      placeholder="Enter name"
      [(ngModel)]="_tableService.customerData.name"
    />
  </div>
  <div class="form-group">
    <label for="address-in">Address</label>
    <input
      type="text"
      class="form-control"
      name="address"
      id="address-in"
      #address="ngModel"
      placeholder="Enter address"
      [(ngModel)]="_tableService.customerData.address"
    />
  </div>
  <div class="form-group">
    <label for="city-in">City</label>
    <input
      type="text"
      class="form-control"
      id="city-in"
      name="city"
      #city="ngModel"
      placeholder="Enter city"
      [(ngModel)]="_tableService.customerData.city"
    />
  </div>
  <div class="form-group">
    <label for="pin-in">Pin Code</label>
    <input
      type="number"
      class="form-control"
      id="pin-in"
      name="pin"
      #pin="ngModel"
      placeholder="Enter pin code"
       [(ngModel)]="_tableService.customerData.pin"
    />
  </div>
  <div class="form-group">
    <label for="country-in">Country</label>
    <input
      type="text"
      class="form-control"
      id="country-in"
      name="country"
      #country="ngModel"
      placeholder="Enter country"
       [(ngModel)]="_tableService.customerData.country"
    />
  </div>
  <p>* Required Filed</p>
  <button
    type="submit"
    id="btn-submit"
    class="btn btn-success"
  >Create</button>
  <input class="btn" type="reset" value="Clear Form" />
</form>
