<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">City</th>
      <th scope="col">Pin Code</th>
      <th scope="col">Country</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <th scope="row">{{ customer.id }}</th>
      <td>{{ customer.name }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.city }}</td>
      <td>{{ customer.pin }}</td>
      <td>{{ customer.country }}</td>
      <td>
        <button class='inline' id='read-btn" + id + "' onclick='read(this)'><i class='fas fa-eye'></i></button>
        <button class='inline' id='edit-btn" + id + "' onclick='editRow(this)'><i class='fas fa-edit'></i></button>
        <button id='save-btn" + id + "' class='save' onclick='saveRow(this)'><i class='fas fa-save'></i></button>
        <button class='inline' id='delete-btn" + id + "'onclick='deleteRow(this)'><i class='fas fa-trash-alt'></i></button>
      </td>
    </tr>
  </tbody>
</table>
