<app-header></app-header>
  <div class="col-md-2 left">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="categories"
          routerLinkActive="router-link-active"
          >Categories</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/products']"
          routerLinkActive="router-link-active"
          >Products</a
        >
      </li>
    </ul>
  </div>


  <div class="col-md-9">

  </div>
