<div class="row">
    <div class="col-md-2">
        <!-- <app-sidebar></app-sidebar> -->

    </div>
    <div class="col-md-3">
        <!-- <app-categories-parent></app-categories-parent> -->
  <button class="btn btn-primary" [routerLink]="['/categories']" routerLinkActive="router-link-active" (click)="hide()" >Category</button>
    </div>
    <div class="col-md-2">
        <!-- <app-sidebar></app-sidebar> -->

    </div>
    <div class="col-md-3">
        <!-- <app-sidebar></app-sidebar> -->
        <button class="btn btn-primary" [routerLink]="['/products']" routerLinkActive="router-link-active" (click)="hide()" >Products</button>
    </div>
    <div class="col-md-2">
        <!-- <app-sidebar></app-sidebar> -->

    </div>
  </div>
