<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed fixed-left">
  <a class="navbar-brand" [routerLink]="['']">Navbar</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<hr>
<!-- <a [routerLink]="['/categories']" class="list-group-item">
<div class="pull-left">
  <h4>Category</h4>
</div>

</a>
<a [routerLink]="['/products']" class="list-group-item">
      <div class="pull-left">
        <h4>Products</h4>
      </div>
    </a> -->

